@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope',
        sans-serif;
}

.title-image {
    object-fit: cover;
    width: 100%;
}

.contents {
    width: 90%;
    margin: auto;

    h1 {
        font-weight: 700;
        margin-top: 20px;
        // color: hsl(214, 17%, 51%);
        // color: hsl(212, 23%, 69%);
        color: hsl(217, 19%, 35%);
    }

    h2 {
        margin-top: 2em;
        color: hsl(214, 17%, 51%);
        font-weight: 500;
    }

}

.profile {
    display: flex;
    margin-top: 5em;
    width: 100%;

    img {
        width: 60px;
        border-radius: 50%;
    }

    .bio {
        margin-left: 20px;
        margin-top: 8px;

        .name {
            color: hsl(217, 19%, 35%);
            font-weight: 700;

        }

        .born {
            color: hsl(214, 17%, 51%);
            margin-top: 3px;
            font-weight: 500;
        }
    }
}


.buttons {
    // visibility: hidden;
    background-color: hsl(217, 19%, 35%);
    height: 100px;
    position: relative;
    margin-top: -5em;

    .list-button {
        width: 95%;
        margin: auto;
        display: flex;
        list-style-type: none;
        height: 100px;
        align-items: center;

        li {
            padding-left: 20px;

        }

        h1 {
            font-weight: 500;
            color: hsl(212, 23%, 69%);
            letter-spacing: 8px;
            font-size: 20px;
        }

        img {
            width: 25px;
        }
    }
}




.share-container {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: hsl(210, 46%, 95%);
    text-align: center;
    border-radius: 50%;
    display: flex;
    bottom: -6.8em;
    z-index: 1;
    right: 25px;
    cursor: pointer;


    .share-button {
        fill: hsl(214, 17%, 51%);
        width: 100px;
        margin-top: 12px;
        margin-left: 13px;
        background-size: 100px;
        z-index: 2;
    }

}


@media screen and (min-width:1440px) {
    body {
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
        background-color: hsl(210, 46%, 95%);

        .wrapper {
            display: flex;
            box-shadow: 4px 8px 50px rgba(0, 0, 0, 0.2);
            width: 900px;
            height: 350px;
            border-radius: 20px;
            background-color: white;

            .title-image {
                border-radius: 20px 0 0 20px;
                width: 100%;
                max-width: 350px;
                object-fit: cover;
                background-position-x: 20px;
                background-size: cover;
            }

            .contents {
                margin-left: 2em;
                margin-bottom: 40px;

                h1 {
                    width: 500px;
                    font-size: 25px;
                    margin-bottom: -20px;
                }

                h2 {
                    font-size: 18px;
                }

                .profile {
                    margin: 40px 0;
                }
            }
        }
    }

    .share-container {
        top: 59%;
        right: 30%;
    }

    .buttons {
        visibility: hidden;
        background-color: hsl(217, 19%, 35%);
        height: 90px;
        width: 400px;
        position: absolute;
        border-radius: 20px;
        bottom: 45%;
        right: 20.5%;

        .list-button {
            display: flex;
            justify-content: center;
            list-style-type: none;
            height: 90px;
            width: 400px;
            margin-right: 20px;

            .triangle {
                position: absolute;
                top: 5.5em;
                border-top: 20px solid hsl(217, 19%, 35%);
                border-right: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 20px solid transparent;
            }

            h1 {
                font-weight: 500;
                color: hsl(212, 23%, 69%);
                letter-spacing: 8px;
                font-size: 20px;
                margin-right: 20px;
            }

            img {
                width: 30px;
            }
        }
    }
}