@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.title-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.contents {
  width: 90%;
  margin: auto;
}

.contents h1 {
  font-weight: 700;
  margin-top: 20px;
  color: #48556a;
}

.contents h2 {
  margin-top: 2em;
  color: #6d7f97;
  font-weight: 500;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5em;
  width: 100%;
}

.profile img {
  width: 60px;
  border-radius: 50%;
}

.profile .bio {
  margin-left: 20px;
  margin-top: 8px;
}

.profile .bio .name {
  color: #48556a;
  font-weight: 700;
}

.profile .bio .born {
  color: #6d7f97;
  margin-top: 3px;
  font-weight: 500;
}

.buttons {
  background-color: #48556a;
  height: 100px;
  position: relative;
  margin-top: -5em;
}

.buttons .list-button {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons .list-button li {
  padding-left: 20px;
}

.buttons .list-button h1 {
  font-weight: 500;
  color: #9eafc2;
  letter-spacing: 8px;
  font-size: 20px;
}

.buttons .list-button img {
  width: 25px;
}

.share-container {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #ecf2f8;
  text-align: center;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -6.8em;
  z-index: 1;
  right: 25px;
  cursor: pointer;
}

.share-container .share-button {
  fill: #6d7f97;
  width: 100px;
  margin-top: 12px;
  margin-left: 13px;
  background-size: 100px;
  z-index: 2;
}

@media screen and (min-width: 1440px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ecf2f8;
  }
  body .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 4px 8px 50px rgba(0, 0, 0, 0.2);
            box-shadow: 4px 8px 50px rgba(0, 0, 0, 0.2);
    width: 900px;
    height: 350px;
    border-radius: 20px;
    background-color: white;
  }
  body .wrapper .title-image {
    border-radius: 20px 0 0 20px;
    width: 100%;
    max-width: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    background-position-x: 20px;
    background-size: cover;
  }
  body .wrapper .contents {
    margin-left: 2em;
    margin-bottom: 40px;
  }
  body .wrapper .contents h1 {
    width: 500px;
    font-size: 25px;
    margin-bottom: -20px;
  }
  body .wrapper .contents h2 {
    font-size: 18px;
  }
  body .wrapper .contents .profile {
    margin: 40px 0;
  }
  .share-container {
    top: 59%;
    right: 30%;
  }
  .buttons {
    visibility: hidden;
    background-color: #48556a;
    height: 90px;
    width: 400px;
    position: absolute;
    border-radius: 20px;
    bottom: 45%;
    right: 20.5%;
  }
  .buttons .list-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    height: 90px;
    width: 400px;
    margin-right: 20px;
  }
  .buttons .list-button .triangle {
    position: absolute;
    top: 5.5em;
    border-top: 20px solid #48556a;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
  }
  .buttons .list-button h1 {
    font-weight: 500;
    color: #9eafc2;
    letter-spacing: 8px;
    font-size: 20px;
    margin-right: 20px;
  }
  .buttons .list-button img {
    width: 30px;
  }
}
/*# sourceMappingURL=style.css.map */